/.ga/screenshots

/assets

node_modules

*.zip

/packages/crawlers/*/assets
/packages/crawlers/*/fixtures
/packages/crawlers/*/output
/packages/crawlers/*/*.json

/screenshots
/src_images

/scripts/fixtures
/scripts/images
/scripts/ability_icons
/scripts/*.json
