/node_modules
/assets
/scripts/fixtures
/scripts/images
/scripts/ability_icons
/scripts/*.json
*.zip
/ui/images/unused
/src_images
/.ga/screenshots

/crawlers/*/assets
/crawlers/*/fixtures
/crawlers/*/output
/crawlers/*/*.json

/archives
