#splash {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  transition: opacity 0.5s ease;
  opacity: 1;
  z-index: 100;
}

.splash__loader {
  font-size: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:  -62px;
  margin-left: -62px;
  text-indent: -9999em;
  border-top: 1.1em solid #ddd;
  border-right: 1.1em solid #ddd;
  border-bottom: 1.1em solid #ddd;
  border-left: 1.1em solid #aaa;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: anime__splash-loader 1.1s infinite linear;
  animation: anime__splash-loader 1.1s infinite linear;
}

.splash__loader,
.splash__loader:after {
  border-radius: 50%;
  width:  8em;
  height: 8em;
}

@-webkit-keyframes anime__splash-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes anime__splash-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
